.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

thead {color:green;}
tbody {color:blue;}
tfoot {color:green;}

table, th, td {
  border: 1px solid black;
}
td, th{
  padding: 5px;
}

.Container{
  padding-top: 50px;
  padding-right: 30px;
  margin-bottom: 510px;
  padding-left: 80px;
}
.p-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top:20px;
}
